darkred { 
text-align: justify; 
font-size: 12px; 
font-family: segoe print;
width: 260px;
color: #800000
}
roxo { 
text-align: justify; 
font-size: 12px; 
font-family: segoe print;
width: 260px;
color: #754077
}
royalblue { 
text-align: justify; 
font-size: 12px; 
font-family: segoe print;
width: 260px;
color: #4169E1
}
blueviolet { 
text-align: justify; 
font-size: 12px; 
font-family: segoe print;
width: 260px;
color: #8A2BE2
}
hotpink { 
text-align: justify; 
font-size: 12px; 
font-family: segoe print;
width: 260px;
color: #FF69B4
}
laranja { 
text-align: justify; 
font-size: 12px; 
font-family: segoe print;
width: 260px;
color: #ff704d
}
fala { 
text-align: justify; 
font-size: 12px; 
font-family: segoe print;
width: 260px;
color: #6B3638
}
sky {
 text-align: justify; 
font-size: 12px; 
font-family: segoe print;
width: 260px;
color: #87CEEB
}
